
<section class=topp>
    <div class="top">
        <div class="backgroundPic">
            <form action="editarperfil/upload/background-picture/<%=user.id%>?_method=PUT" method="POST" enctype="multipart/form-data" id='background-picture-form'>
                <label for="background-picture">
                    <div>
                        <% if(user.background_picture) { %>
                            <img src="../../images/uploads/<%=user.background_picture%>" alt="Foto de capa" id="background-picture-src">
                        <% } else { %>
                            <img src="../../images/background-picture.svg" alt="Foto de capa" id="background-picture-src">
                        <% } %>
                    </div>
                </label>
                <input 
                    type="file" 
                    name="background-picture" 
                    id="background-picture" 
                    accept="image/png, image/jpeg"
                >
            </form>
            <div class ="profilePic">
                <form action="editarperfil/upload/profile-picture/<%=user.id%>?_method=PUT" method="POST" enctype="multipart/form-data" id='profile-picture-form'>
                    <label for="profile-picture">
                        <% if(user.avatar_picture) { %>
                            <img src="../../images/uploads/<%=user.avatar_picture%>" alt="Foto de capa" id="profile-picture-src">
                        <% } else { %>
                            <img src="../../images/profile-picture.svg" alt="Foto de capa" id="profile-picture-src">
                        <% } %>
                    </label>
                    <input 
                        type="file" 
                        name="profile-picture" 
                        id="profile-picture" 
                        accept="image/png, image/jpeg"
                    >
                </form>
            </div>
        </div>
        <div class="btn-align">
            <button type="submit" class="button btn-form2" id='background-btn'>Trocar foto de capa</button>              
        </div>
    </div>
    <div class ="topOptions">  
        <div>
            <button type="submit" class="button btn-form2" id='profile-btn'>Trocar foto de perfil</button>              
        </div>
    </div>
    <div class="userName"><a href="http://localhost:3000/perfil/<%=user.id%>"><h5><%= user.name + " " + user.surname %></h5></a></div> 
</section>
<script type="text/javascript" src="../js/topView.js"></script>