<head>
    <link rel="stylesheet" href="../../stylesheets/brotherhoodCreator.css">
    <script type="text/javascript" src="../../js/brotherhood.Creator.js"></script>
    <script type="text/javascript" src="../../js/dropdown.js"></script> 
</head>
  
  <%- include('./partials/header')  %>

  <body>  
    <main>
      <section class= registerForm>
        <div id="call">
          Personalize sua confraria <h1 id="logo">Wined+</h1>
        </div>
        <div id="call-text">
          
          <h2>Escolha uma foto para sua confraria</h2>
        </div>      
        
        <form action="/confraria/post/background/<%= brotherhood.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
          
          <div id="form">
              <label for="brotherhood_picture" id="bhood_picture">Foto</label>
                  <input type="file" name="brotherhood_picture" id="brotherhood_picture" accept="image/*">
              
              <button class="button btn-form1" type="submit">Enviar</button>
          </div>                    
        </form>
        <div class="cover" id="cover">
          <% if(brotherhood.brotherhood_picture) { %>
              <img class="confraria-cover" src="../../images/uploads/<%= brotherhood.brotherhood_picture %>" alt="confraria-cover" id="brotherhood-picture-src">
          <% } else { %>
              <img class="confraria-cover" src="../../images/brotherhood-picture.svg" alt="confraria-cover" id="brotherhood-picture-src">
          <% } %>
      </div>
      </section>
      
      <section class = registerForm>
        <div id= "call-text"><h2>Descreva sua confraria</h2><br><br></div>

        <form action='<%= id %>?_method=PUT'method="POST" class="formulario">

          <label for="name">
            <input type="text" name="name" id="name" placeholder="Escolha um nome para sua confraria" value="<%= brotherhood.name %>">
          </label>
  
          <label for="description">
              <textarea name="description" id="description" cols="1" rows="3" placeholder="Descreva sua confraria" value="<%= brotherhood.description %>" ></textarea>
          </label>
  
          <!-- <label for="since">
              <input type="text" onfocus="(this.type='date')" name="since" id="since" placeholder="Data de criação" value="<%= brotherhood.since %>" >
          </label> -->

          <button class="button btn-form" type="submit">Editar Confraria</button>

        </form>
      </section>

      <section class="registerForm">
        <div id="call-text">
          <h2>Adicione novos confrades</h2><br><br>
        </div> 
        
        <form action="adicionar/<%= id %>" method="POST" class="formulario">
          <div id='addMember'>

            <div id='member'>
              <label for='members'>
                <input type= 'email' name='members' id='members' placeholder='Informe o e-mail do seu ou sua confrade'>
              </label>
            </div>
            </div>

            <div id='newInput'></div>

            <div id="addMember-addInput">
              <button class ="button btn-add"type="button" value="addInput" onclick="addNewInput();">Adicionar E-mail</button>
              <button class="button btn-form1" type="submit">Submeter</button>
            </div>

          </div> 
        </form>
      </section>

      <section class="registerForm">

        <div id="call-text">
          <h2>Gerenciar confrades</h2><br>
        </div> 
        <table>
          <% members.forEach((member)=>{ %>
              <tr id="memberOptions">
                <td id="memberName">
                  <span><%= member.users.name %> <%= member.users.surname %></span>   
                </td>
                <td id='chancellor'>
                  <form action="/confraria/editar/chancellor/<%= id %>/<%= member.users.id %>?_method=PUT" method="POST">
                    <button type="submit">
                      <% if(!member.chancellor){ %>
                        Tornar Chanceler
                      <% } else { %>
                        Remover Chanceler
                      <% } %>
                    </button>
                  </form>
                </td>
                <td id='remove'>
                  <form action="/confraria/editar/delete/<%= id %>/<%= member.users.id %>?_method=DELETE" method="POST">
                    <button type="submit">Remover</button>
                  </form>
                </td>
              </tr>
          <% }) %>
        </table>


      </section>

      <section class="registerForm">

        <div id="call-text">
          <h2>Deseja excluir sua confraria?</h2>
        </div>

        <form action='/confraria/delete/<%= id %>?_method=DELETE'method="POST" class="formulario">
          <div class="terms">
            <label>
              <input type="checkbox" name="terms" id="terms">
            </label>
            <div class="terms-text">
              Desejo excluir a confraria e todas as lembranças felizes compartilhadas com a Wined+.
            </div>
          </div>
          <button class="button btn-form" type="submit">Remover Confraria</button>
        </form>

      </section>
    </main>
    <%- include('./partials/footer')  %>   
  <script type="text/javascript" src="../../js/brotherhoodEditor.js"></script>
  </body>