<%- include('./partials/header') %>

    <main>
        <section class="dash">
            <%- include('./partials/topview') %>
                <div class="userDescription">
                    <p>
                        <%= user.description %>
                    </p>
                </div>
                <div class="members">
                    <h5>Confrades</h5>
                    <% brotherhood.members.forEach((member)=>{ %>
                        <div class="member">
                            <a href="/perfil/<%= member.id %>">
                                <img src="" alt="">
                            </a>
                            <div>
                                <a href="/perfil/<%= member.id %>">
                                    <%= member.name %>
                                        <%= member.surname %>
                                </a><br>
                            </div>
                        </div>
                        <% }) %>

                </div>
        </section>
        <section class="confraria">
            <img class="confraria-cover" src="../images/uploads/<%= brotherhood.brotherhood_picture %>" alt="confraria-cover">
            <section class="settings">
                <div class="confraria-title">
                    <h2>
                        <%= brotherhood.name %> >
                    </h2>
                    <div>
                        <p>Since: <%= brotherhood.since %>
                        </p>
                        <img src="../images/dot.svg" alt="dot-separation">
                        <p>
                            <%= count %> Confrades
                        </p>
                    </div>
                </div>
                <div class="brotherhoodMenu">
                    <a href="#">
                        <p>Agenda</p>
                    </a>
                    <% user.chancellor.forEach((chancellor)=>{ %>
                        <% if (chancellor.chancellor){ %>
                            <a href="editar/<%= brotherhood.id %>">
                                <p>Editar</p>
                            </a>
                        <% } %>
                    <% }) %>
                    
                    <p>  </p> 

                    <form action="/confraria/editar/delete/<%= brotherhood.id %>/<%= user.id %>?_method=DELETE"
                        method="POST">
                        <button type="submit" id='leaveBrotherhood'>Deixar Confraria</button>
                    </form>
                </div>
            </section>

            <div class="description">
                <p>
                    <%= brotherhood.description %>
                </p>
            </div>

            <section class="create-post-section">

                <div class="write-post">
                    <img src="../images/avatar-icon.svg" alt="avatar">
                    <div class="write-postPrompt" aria-labelledby="write-post" aria-multiline="true" role="textbox"
                        contenteditable="true" aria-placeholder="Compartilhe sua experiência">
                    </div>
                </div>

                <div class="upload-media-post">
                    <div>
                        <button type="button" id="p-btn"> <img src="../images/add-picture.svg" alt="add-video">Midia</button>
                    </div>
                    <section class="upload-media-separator"></section>
                    <div>
                        <button type="button" id="btn"> <img src="../images/post.svg" alt="add-video">Enviar</button>
                    </div>
                </div>
            </section>
            <div id="postPicForm" class="postPicForm">
                
                <form action="/confraria/post/pictures/<%= brotherhood.id %>" method="POST" enctype="multipart/form-data">
                    <div id="text-box">
                        <img src="../images/avatar-icon.svg" alt="avatar">
                        <label for="content" id ="contents">
                            <input type="text" name="content" id="content">
                        </label>
                    </div>

                    <div id="midia-menu">
                        <button type="button" id="cancel"><img src="../images/VectorX.svg" alt="avatar">Cancelar</button>
                        <section class="upload-media-separator"></section>
                        <label for="pictures" id="picture"><img src="../images/add-picture.svg" alt="add-midia">Midia</label>
                            <input type="file" name="pictures" id="pictures" accept=".mp4, image/*" >
                            <section class="upload-media-separator"></section>
                        <button type="submit" id="submit"><img src="../images/post.svg" alt="add-post">Enviar</button>
                    </div>                    
                </form>
            </div>
            
            <section class="posts-filter" id="posts-filter">
                <div>
                    <% posts.forEach((post)=>{ %>
                        <div class="post">
                            <div class="hidden">
                                <%= post.id %>
                            </div>
                            <div class="post-header">
                                <img src="../images/uploads/<%= post.author.avatar_picture %>" alt="">
                                <h6>
                                    <%= post.author.name %> <%= post.author.surname %>
                                </h6>
                            </div>
                            <div class="post-content">
                                <p>
                                    <%= post.content %>
                                </p>
                                
                                <% if(post.midia){ %>
                                    <% if(post.midia.midia_type == 'image'){ %>
                                        <img src="../images/uploads/<%= post.midia.midia_path %>" alt="">
                                    <% }else if(post.midia.midia_type == 'video'){ %>
                                        <video width="820" height="478" controls>
                                            <source src="../images/uploads/<%= post.midia.midia_path %>" type ="video/mp4">
                                        </video>
                                    <% } %>
                                <% } %>
                                       
                            </div>
                            
                            <div class='postMenu'>
                                <div class="cheers">
                                    <% if(post.reactions.length > 0){ %>
                                        <p><%= post.reactions.length %></p>
                                    <% } %>  
                                    <% if(post.reactions.some(reaction => reaction.users_id === user.id )){ %>
                                        <button type="button" class= "r-btn" id= "reacted">Cheers!</button> 
                                    <% } else { %>                                
                                        <button type="button" class= "r-btn" >Cheers!</button> 
                                    <% } %>   
                                </div>

                                <button type="button" class= "h-btn">Comentários</button>
                                <% if( post.author.id == user.id ){ %>
                                    <button type="button" class= "e-btn">Editar</button>
                                    <button type="button" class= "d-btn">Deletar</button>   
                                <% }else{ %>
                                    <button type="button" class= "e-btn" id="hidden3">Editar</button>
                                    <button type="button" class= "d-btn" id="hidden3">Deletar</button> 
                                <% } %>
                                                            
                            </div>
                        </div>
                        <div class="edit-comment">
                            <img src="../images/avatar-icon.svg" alt="avatar">
                            <div class="edit-commentPrompt" aria-labelledby="edit-comment"
                                aria-multiline="true" role="textbox" contenteditable="true"
                                aria-placeholder="Compartilhe sua experiência" id="commentPrompt">
                            </div>
                            <div>
                                <button type="button" class="edit-btn"> <img src="../images/post.svg"
                                        alt="add-video">Enviar</button>
                            </div>

                        </div>
                        <div class="comments">
                            <div class="create-comment">
                                <div class="write-comment">
                                    <img src="../images/avatar-icon.svg" alt="avatar">
                                    <div class="write-commentPrompt" aria-labelledby="write-comment"
                                        aria-multiline="true" role="textbox" contenteditable="true"
                                        aria-placeholder="Compartilhe sua experiência" id="commentPrompt">
                                    </div>
                                    <div>
                                        <button type="button" class="c-btn"> <img src="../images/post.svg"
                                                alt="add-video">Enviar</button>
                                    </div>

                                </div>

                            </div>
                            <div>
                                <% if(post.comments.length> 0){ %>
                                    <% post.comments.forEach((comment)=>{ %>
                                        <div class="hidden2">
                                            <%= comment.post_id %>
                                        </div>

                                        <div class="post">
                                          
                                            <div>
                                                <%= comment.contents.author.avatar_picture %>
                                                    <h6>
                                                        <%= comment.contents.author.name %> <%= comment.contents.author.surname %>
                                                    </h6>
                                            </div>
                                            <div>
                                                <p>
                                                    <%= comment.contents.content %>
                                                </p>
                                            </div>
                                            <div class='postMenu'>
                                                <div class= 'cheers'>
                                                    <% if(comment.contents.reactions.length > 0){ %>
                                                        <p><%= comment.contents.reactions.length %></p>
                                                    <%}%>
                                                    <% if(comment.contents.reactions.some(reaction => reaction.users_id === user.id )){ %>
                                                        <button type="button" class= "rc-btn" id= "reacted">Cheers!</button> 
                                                    <% } else { %>                                
                                                        <button type="button" class = "rc-btn"data-type="react-comment">Cheers!</button>
                                                    <% } %>  
                                                </div>
                                                                                                
                                                <% if( comment.contents.author.id == user.id ){ %>
                                                    <button type="button" class = "ec-btn" id= "hidden3"data-type = "edit-comment" >Editar</button>
                                                    <button type="button" class = "dc-btn" data-type = "delete-comment">Deletar</button>   
                                                <% }else{ %>
                                                    <button type="button" class= "ec-btn" id="hidden3">Editar</button>
                                                    <button type="button" class= "dc-btn" id="hidden3">Deletar</button> 
                                                <% } %>                               
                                            </div>
                                        </div>
                                        <%})%>
                                    <%}%>
                                </div>
                            </div>
                        <% }) %>
                </div>
            </section>
        </section>
    </main>

    <script src='../js/postCreator.js'></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    <%- include('./partials/footer') %>