<head><link rel="stylesheet" href="../../stylesheets/dashboard.css"></head>
<%- include('./partials/header') %>

<main>
    <div class="main">
        <section class="profileInfo">
            <%- include('./partials/topview') %>
            <div class="userDescription">
                <p><%= user.description %></p>
            </div>
            <div class= dashMenu>
            <div class="brotherhoodMenu">
                <a href="#"><p>Adega</p></a>
                <a href="#"><p>Criar Confraria</p></a>
                
            </div>
            <!-- <div class="brotherhoodMenu"> 
                <a href="http://localhost:3000/favorites"><p>Favoritos</p></a>
                
            </div> -->
        </section>

        <section class="myBrotherhoods">
            <h4>Minhas Confrarias</h4>
            <% brotherhoods.forEach((brotherhood)=>{ %>
                <a href ="/confraria/<%= brotherhood.id %>"><div class="brotherhood"><%= brotherhood.name %></div></a><br>

            <% }) %>
        </section>

        <section class="notifications">
            <h4>Notificações</h4>


        </section>
    </div>

</main>

<%- include('./partials/footer')  %>  