
<%- include('./partials/header') %>

    <main>
        <section class = "top-view">
            <div class="background-picture">
                <% if(user.background_picture) { %>
                    <img src="../../images/uploads/<%=user.background_picture%>" alt="Foto de capa" id="background-picture-src">
                <% } else { %>
                    <img src="../../images/background-picture.svg" alt="Foto de capa" id="background-picture-src">
                <% } %>
            </div>
            <div class="avatar-picture">
                <% if(user.avatar_picture) { %>
                    <img src="../images/uploads/<%= user.avatar_picture %>" alt="Foto de capa" id="profile-picture-src">
                <% } else { %>
                    <img src="../images/profile-picture.svg" alt="Foto de capa" id="profile-picture-src">
                <% } %>

            </div>
            <div class="userName"><h5><%= user.name + " " + user.surname %></h5></div>
                <div class="profileInfo">
                    <div class="dashboardSection">   
                        <p>
                            <%= user.description %>
                        </p>
                </div>    
        </section>

    <section class="wines">
        <section class="favoritesList">
            <div>
                <h3>VINHOS FAVORITOS</h3>
            </div>
            
            
                <% user.favorites.forEach(wine=>{ %>
                    <div class='wine'>
                        <div class="wine-pic">
                            <img src="../../images/wines/<%= wine.picture_path %>" alt="">
                        </div>
                    <div class="wine-name"><%= wine.wine %></div>
                </div>
                <%})%>
            
        </section>
        <section class="wishList">
            <div>
                <h3>VINHOS DESEJADOS</h3>
            </div>            
            <% user.wished.forEach(wine=>{ %>
                <div class="wine">
                    <div class="wine-pic">
                        <img src="../images/wines/<%= wine.picture_path %>" alt="">
                    </div>
                    <div class="wine-name"><%= wine.wine %></div>
                </div>
            <%})%>
        </section> 
    </section>
        
    </main>

    <%- include('./partials/footer')  %>