
<%- include('./partials/header') %>

    <main>
    <section class="topProfile">
        <section class = "topView">
            <%- include('./partials/topView') %>

                <div class="profileInfo">
                    <div class="dashboardSection">   
                        <p>
                            <%= user.description %>
                        </p>
                </div>    
        </section>
        <!-- <section class="dash">
            <div class="navbarMenu">
                <div>
                    <button class="button btn-form" type="submit">Seguir Perfil</button>
                </div>
                <div>
                    <button class="button btn-form" type="submit">Convidar para Confraria</button>
                </div>
                <div>
                    <button class="button btn-form" type="submit">Enviar Mensagem</button>
                </div>
                
        </section> -->
    </section>
        <section class="wines">
            <%- include('./partials/wishFav') %> 
        </section>

    </main>

    <%- include('./partials/footer')  %>