<head><link rel="stylesheet" href="../../stylesheets/register.css"></head>
<%- include('./partials/header') %>

    <main>
    <section class="topProfile">
        <section class = "topView">
            <%- include('./partials/topView') %>

                <div class="profileInfo">
                    <div class="dashboardSection">   
                        <p>
                            <%= user.description %>
                        </p>
                </div>    
        </section>
        <section class="dash">
            <div class="navbarMenu">
                <div>
                    <button class="button btn-form" type="submit">Seguir Perfil</button>
                </div>
                <div>
                    <button class="button btn-form" type="submit">Convidar para Confraria</button>
                </div>
                <div>
                    <button class="button btn-form" type="submit">Enviar Mensagem</button>
                </div>
                
            </div>
            <h3 id="brotherhoodTitle">Minhas Confrarias</h3>
            
            <div class="fraternity">
                
                <div class="fraternityMenu"> 
                    
                    <div>
                        <a href="#">
                            <div class="fraternityPic"></div>
                            <h4>Confraria 1</h4>
                        </a>
                    </div>  
                    <div>
                        <a href="#">
                            <div class="fraternityPic"></div>
                            <h4>Confraria 2</h4>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </section>
        <section class="wines">
            <%- include('./partials/wishFav') %> 
        </section>

    </main>

<%- include('./partials/footer')  %>  