<head><link rel="stylesheet" href="../../stylesheets/profile.css"></head>
<%- include('./partials/header') %>


<body>
  <main>    
    <section class="profilePictureOptions">
     <%- include('./partials/topView') %>
    </section>
    <section class=editForm>

    <div id="call">
      Atualize seu perfil na <h1 id="logo">Wined+</h1>
    </div>
    <div id="call-text">
      <h2>Personalize seu perfil e mantenha seus dados atualizados!</h2>
    </div>
    <br>

    <form action='/editarperfil/<%= user.id %>?_method=PUT' method="POST" class="formulario">
   
      <label for="email">
        <input type="email" name="email" id="email" value="<%=user.email%>">
      </label>
      <label for="name">
        <input type="text" name="name" id="name" value = "<%=user.name%>">
      </label>
      <label for="surname">
        <input type="text" name="surname" id="surname" value = "<%=user.surname%>">
      </label>
      <label for="description">
        <input type="text" name="description" id="description" value = "<%=user.description%>">
        </label>
      
      <button class="button btn-form" type="submit">Atualizar Perfil</button>
    </form>

    <form action='/editarperfil/<%= user.id %>?_method=DELETE'method="POST" class="formulario">
  <div class="delete">
    <div class = "delete-form">
    <label>
      <input type="checkbox" name="delete" id="delete">
    </label>
    <div id="call-text">
      <h2>Desejo remover minha conta.</h2>
    </div>
  </div>
      <button class="button btn-form" type="submit">Remover Perfil</button>
    </div>
  </form>
</section>
  </main>
  <%- include('./partials/footer')  %>  
</body>
</html>