<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="stylesheets/global.css">
    <link rel="stylesheet" href="stylesheets/register.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  </head>
<body>
  <main>
    <section class = registerForm>
    <div id="call">
      Junte-se à <h1 id="logo">Wined+</h1>
    </div>
    <div id="call-text">
      <h2>Compartilhe momentos inesquecíveis com seus amigos!</h2>
    </div>
    <br>
    <span class="errors">
      <% if(typeof(errors) != "undefined"){ %>
        <p>Não foi possível realizar o cadastro pois:</p>
        <ul>
          <% errors.forEach((error)=>{ %>
            <li><%= error.msg %></li>
          <% }) %>
        </ul>
      <% } %>
    </span>
    <form action='/cadastrar'method="POST" class="formulario">
      <div class="terms">
        <label>
          <input type="checkbox" name="terms" id="terms">
        </label>
        <div class="terms-text">
          Aceito os <a id ="terms"href="/termos">Termos de Uso</a> e <a id ="terms" href="/privacidade">Política de Privacidade</a>.
        </div>
      </div>
      <label for="email">
        <input type="email" name="email" id="email" placeholder="Digite seu e-mail" value="<%= locals.old && old.email %>">
      </label>
      <label for="name">
        <input type="text" name="name" id="name" placeholder="Digite seu Nome" value="<%= locals.old && old.name %>">
      </label>
      <label for="surname">
        <input type="text" name="surname" id="surname" placeholder="Digite seu Sobrenome" value="<%= locals.old && old.surname %>">
      </label>
      <label for="birthday">
        <input type="text" onfocus="(this.type='date')" name="birthday" id="birthday" placeholder="Data de Nascimento" value="<%= locals.old && old.birthday %>" required>
      </label>
      <label for="description">
        <textarea name="description" id="description" cols="1" rows="3" placeholder="Conte um pouco sobre você e sua paixão por vinhos"><%=locals.old && old.description%></textarea>
      </label>
      
      <label for="password">
        <input class="password-form" type="password" name="password" id="password" placeholder="Defina uma senha"><i class="bi bi-eye-slash" id="togglePassword"></i>
      </label>
      
      <button class="button btn-form" type="submit">Junte-se à Wined+</button>
    </form>
    <!-- <div class="social-fields">
      <a href="#" class="social-field facebook">
        <img src="images/facebook-icon.svg" alt="Continuar com o Facebook" />
        <p>Continuar com o Facebook</p>
      </a>
      <a href="#" class="social-field google">
        <img src="images/google-icon.svg" alt="Continuar com o Google" />
        <p>Continuar com o Google</p>
      </a>
    </div> -->
    <div class="perfil-question text-montserrat">
      <p>Você já tem um perfil?</p>
      <a href="/login">Faça login</a>
    </div>
  </section>
  </main>
  <script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#password');

    togglePassword.addEventListener('click', function (e) {
      const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
      password.setAttribute('type', type);
      this.classList.toggle('bi-eye');
    });
  </script>
</body>
</html>