<head>
    <link rel="stylesheet" href="../../../stylesheets/event.css">
    <head><link rel="stylesheet" href="../../../stylesheets/register.css"></head>
    <link rel="stylesheet" href="../../../stylesheets/global.css">
  </head>
  <body>
  <header>
    <a id="init" href="/dashboard">
      <img id="logo" src="../../../images/logo-wined-header.svg" alt="Wined logo">
    </a>
    <div class="dropdown">
        <button onclick="myFunction()" >
          <div>
            <% if(user.avatar_picture) { %>
              <img id="profile-pic" src="../../../images/uploads/<%= avatar %>" alt="User Picture" class="dropbtn">
            <% } else { %>
              <img id="profile-pic" src="../../../images/profile-picture-white.svg" alt="User Picture" class="dropbtn">
            <% } %>
          </div>
        </button>
        <div id="myDropdown" class="dropdown-content">
          <a href="http://localhost:3000/dashboard">Home</a>
          <a href="http://localhost:3000/editarperfil/<%=user.id%>">Editar Perfil</a>
         
          <a href="http://localhost:3000/dashboard/sair">Sair</a>
        </div>
      </div>
</header>
<main>
    <section class = registerForm>
      <div id="call">
        Atualize as informações de sua reunião <h1 id="logo">Wined+</h1>
      </div>
      <form action='/confraria/evento/editar/<%= event.id %>?_method=PUT'method="POST" class="formulario">
  
        
        <label for="name">
          <input type="text" name="name" id="name" placeholder="Nome do evento" value="<%=event.name%>">
        </label>
       
        <div>
          <label for="cep">
            <input type="text" name="cep" id="cep" placeholder="CEP" value="<%=event.cep%>">
          </label>
          
          <label for="street">
            <input type="text" name="street" id="street" placeholder="Endereço" value="<%=event.street%>">
          </label>
          
          <label for="number">
            <input type="text" name="number" id="number" placeholder="Número" value="<%=event.number%>">
          </label>

          <label for="complement">
            <input type="text" name="complement" id="complement" placeholder="Bairro" value="<%=event.complement%>">
          </label>

          <label for="city">
            <input type="text" name="city" id="city" placeholder="Cidade" value="<%=event.city%>">
          </label>
          
          <label for="state">
            <input type="text" name="state" id="state" placeholder="Estado" value="<%=event.state%>">
          </label>
          
        </div>      
        
        <div id="datetime">
          <label for="date">
            <input type="date" name="date" id="date" placeholder="Digite a Data do Evento" value="<%=event.date%>">
          </label>
          <label for="time">
            <input type="time" name="time" id="time" placeholder="Hora" value="<%=event.time%>">
          </label>
        </div>
  
        <button class="button btn-form" type="submit">Editar</button>
  
      </form>
      </div>
  </section>
    </main>
  </body>
  
  <footer>
    <div id="footer-menu">
      <a class="logo-footer" href="#init"><img id="logo" src="../../images/logo-wined-header.svg" alt="Wined logo"></a>
        <ul>
            <li><a class="sobre" href="#">Sobre</a></li>
            <li><a class="contato" href="#">Contato</a></li>
            <li><a class="termos" href="/termos">Termos de Uso</a></li>
            <li><a class="politica" href="/privacidade">Política de privacidade</a></li>
            <li><a class="politica-cont" href="#">Política de conteúdo</a></li>
        </ul>
    </div>
    <div id="copyright">
        <img class="Copyscript" src="../../../images/copyscript.svg" alt="feito por wined+"/>    
    </div>
  </footer> 
  <script type="text/javascript" src="../../../js/dropdown.js"></script> 
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script> 
  <script type="text/javascript" src="../../../js/eventCreator.js"></script>
  </html>